body {
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #E9E9E9;
}

header nav {
    display: flex;
    flex-direction: row;
    padding: 3%;
}

header nav div {
    display: flex;
    align-items: center;
    margin-left: 38%;
}

header nav div a {    
    font-weight: 500;
    font-size: 2.2vh;
    color: black;
    text-decoration: none;
    padding: 0 10% 0 0;
}

header nav div a:hover {
    color: #10C9C3;
}

header section {
    padding: 10% 0 15% 0;
}

header section div {
    margin-left: auto;
    width: 30%;
    margin-right: 10%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

header section div h1 {
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 2.5vi;
}

header section p {
    color: #838383;
    margin-bottom: 3%;
    line-height: 140%;
}

header section button {
    background-color: #10C9C3;
    width: 35%;
    height: 6vh;
    border-style: none;
    color: white;
    font-weight: bold;
}

#aboutUs #about {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#aboutUs #about h1 {
    margin: 5% 0 3% 0;
    font-size: 2.5vi;
    font-weight: bold; 
}

#aboutUs #about p {
    line-height: 150%;
    font-size: 1.1vi;
    color: #838383;
}

#aboutUs #about img {
    margin: 3% 0 0 0;
}

#skills {
    display: flex;
    margin-top: 15%;
}

.skills {
    width: 50%;
    margin-left: 3%;
}

#blankSkills{
    background-color: #E9E9E9;
}

#skills div h1 {
    font-size: 2.2vi;
    font-weight: bold;
}

#skills div .lineSkill {
    width: 100%;
    margin: 0;
    height: 0.8vh;
    margin-bottom: 5%;
}

#skills div #Skill1 {
    background: linear-gradient(to right, #10C9C3 75%, #838383 25%);
}

#skills div #Skill2 {
    background: linear-gradient(to right, #10C9C3 90%, #838383 10%);
}

#skills div #Skill3 {
    background: linear-gradient(to right, #10C9C3 65%, #838383 35%);
    margin-bottom: 30%;
}

#skills div pre {
    margin: 5% 0 2% 0;
    font-size: 0.9vi;
    font-weight: bold;
    letter-spacing: 1px;
    white-space: pre;
}

#work header {
    background-color: #10C9C3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#work header img {
    margin: 6% 2%;
}

#work header span {
    margin-right: 5%;
    color: #E9E9E9;
    font-size: 1vi;
    line-height: 130%;
}

#work header span strong {
    font-weight: 800;
}

#work main {
    display: flex;
    flex-wrap: wrap;
}

#work main div {
    height: 45vh;
    width: 25%;
}

.darkGray img{
    width: 100%;
    height: 100%;
}

.lightGray img {
    width: 100%;
    height: 100%;
}

.black {
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
}

#work footer {
    padding: 3% 0;
    background-color: #F5F5F5;
    justify-content: center;
    align-items: center;
    display: flex;
}

#work footer p {
    color: #838383;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.9vi;
}

#process header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    background-color: white;
}

#process header h1 {
    margin-bottom: 2%;
    font-size: 2.5vi;
}

#process header p {
    color: #838383;
    font-size: 1.2vi;
    margin-bottom: 0.6%;
}

#process main {
    background-color: #E9E9E9;
    margin: 10% auto;
    width: 80%;
}

#process main div {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#process main div div {
    width: 9%;
    height: 14vh;
    background-color: #10C9C3;
    border-radius: 50%;
}

#process main div div div {
    width: 0; 
    height: 0; 
    border-top: 1.5vh solid transparent;
    border-bottom: 1.5vh solid transparent;
    border-left: 1.2vw solid white;
    border-radius: 0%;
}

#servieces main {
    display: flex;
    flex-wrap: wrap;
}

#servieces main div {
    width: 25%;
    height: 40vh;
    background-color: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 1px;
}

#servieces main .downDiv {
    padding-bottom: 6%;
}

#servieces main div img {
    margin-top: 20%;
}

#servieces main div h4 {
    margin: 7% 0 5% 0;
    font-weight: 800;
}

#servieces main div p {
    margin-bottom: 2%;
    color: #838383;
}

#testimonials main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #10C9C3;
    color: white;
    height: 50vh;
    font-size: 2.2vi;
    padding-top: 20%;
    padding-bottom: 5%;
}

#testimonials main p {
    margin: 0.5%;
    font-weight: 700;
}

#testimonials main #author {
    padding-top: 3%;
    font-size: 1.1vi;
    font-weight: 400;
    letter-spacing: 1px;
}

#testimonials main div {
    margin-top: 10%;
}

.dot {
    height: 2vh;
    width: 1vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

#testimonials footer {
    margin: 5% 0 5% 0;
    display: flex;
    flex-wrap: nowrap;
}

#testimonials footer img {
    margin: 0 auto 0 auto;
}

#contact {
    margin: 0 auto 0 auto;
    background-color: #E9E9E9;
}

#contact main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact main h1 {
    margin-top: 10%;
    margin-bottom: 3%;
    font-size: 2vi;
    font-weight: bold;
}

#contact main p {
    margin-bottom: 1%;
    letter-spacing: 1px;
    font-size: 1.1vi;
    color: #838383;
}

#contact main .bottomP {
    margin-bottom: 3%;
}

form {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

#name {
    width: 45%;
}

#email {
    width: 45%;
    margin-left: 4%;
}

#title {
    width: 97.2%;
    margin-bottom: 5%;
}

#contactInput{
    width: 97.7%;
    height: 20vh;
    font-size: 1.1vi;
    font-family: 'Lato', sans-serif;
    padding: 2% 0 0 2%;
}

input {
    height: 5vh;
    margin: 2.5% 0 2.5% 0;
    font-size: 1.1vi;
    padding-left: 2%;
    border: #838383 solid 1%;
}

.buttonDiv {
    width: 30%;
    height: 6vh;
    margin: 6% auto 10% auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#send {
    background-color: #10C9C3;
    color: white;
    letter-spacing: 1px;
    border: none;
    font-size: 0.9vi;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.footer {
    height: 25vh;
    background-color: #252525;
    display: flex;
    color: white;
}

.footer div {
    width: 33%;
}

.copy {
    margin: 4% 0 0 5%;
}

.footer div h1 {
    font-weight: bold;
    margin-bottom: 4%;
}

.footer div p {
    margin-bottom: 3%;
}

.emailFooter {
    margin: 4% 0 0 3%;
}

.socials {
    display: flex;
}

.aboutFooter {
    margin-top: 11%;
}

.socials .aboutFooter p {
    margin-bottom: 8%;
}

.contactFooter {
    margin-top: 11%;
}

.socials .contactFooter p {
    margin-bottom: 8%;
}

.socialsFooter {
    margin-top: 11%;
}

.socials .socialsFooter p {
    margin-bottom: 8%;
}